:root {
  /* Primary colors */
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  /* Neutral colors */

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button:disabled {
  background-color: transparent;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--Light-gray);
}

main > div{
  max-width: 1250px;
  width: 70%;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}


textarea {
  width: 85%;
  height: 80px;
  margin: 0px 5px;
  padding: 5px 10px;
  resize: none;
}

button{
  border-radius: 10px;
  border: none;
}
button:hover {
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 856px) and (max-width: 976px) {
  main > div{
    width: 80%;
  }
}

@media (min-width: 760px) and (max-width: 856px) {
  main > div{
    width: 90%;
  }
}
@media (max-width: 610px) {
  main > div{
    width: 90%;
  }
}
@media (max-width: 400px) {
  main > div{
    width: 98%;
  }
}