.replies {
    border-left: 1px solid;
    margin-left: 35px;
    padding-left: 35px;
}

.comment {
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    grid-template-rows: 0.2fr 0.8fr;
    background-color: var(--White);
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;
    
}

.comment>* {
    margin: 3px;
}

.comment>p {
    padding: 8px;
    margin: 0px 10px;
}

.bar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.bar>* {
    padding: 0px 3px;
    margin: 0px 8px;
}

.you{
    padding: 1px 3px;
    background-color: var(--Moderate-blue);
    color: var(--White);
}

.bar> :last-child {
    position: absolute;
    right: 15px;
}

.votesCount {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--Light-gray);
    border-radius: 10px;
    height: 80px;
    /* padding: 3px; */
    
}

.profileImage {
    height: auto;
    border-radius: 50%;
}

.formWrapper {
    display: flex;
    max-width: 1200px;   
    margin: auto;
    background-color: var(--White);
    border-radius: 10px;
    padding: 15px 12px;
}
  
.formWrapper>img {
    border-radius: 50%;
    margin: 0px 8px;
  }

.formWrapper > form{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 5px 10px;
}

.formWrapper button {
    margin: 0px auto;
}

.editForm {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
}

.editForm > button {
    width: fit-content;
    margin-top: 8px;
    align-self: flex-end;
}

.editForm > textarea{
    width: 99%;    
}

.popUpWrapper {
    background-color: rgb(0, 0, 0, 0.5);
    /* opacity: 0.5; */
    height: 100vh;
    width: 99vw;
    margin: auto;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUp{
    border-radius: 5px;
    width: 330px;
    background-color: white;
    padding: 10px;
}

.popUp > * {
    margin: 5px 10px;
    padding: 5px 3px;
}

.popUp > button{
    margin: 5px 15px;
    padding: 8px 15px;
}

.hidden{
    display: none;
}

.btnBlue {
    background-color: var(--Moderate-blue);
    color: var(--White);
}

.voteBtn{
    margin: 5px;
    border: none;
}

.btnMedium {
    margin: 3px 10px;
    padding: 6px 8px;
    background-color: transparent;
}

.btnLarge {
    padding: 12px 25px;
}









.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



























/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}

@keyframes rotate {}