.replies {
    border-left: 1px solid;
    margin-left: 60px;
    padding-left: 60px;
}

.comment {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--White);
    margin: 15px auto;
    border-radius: 10px;
    padding: 10px;
    justify-items: center;
}

.comment > :last-child{
    grid-column: 2 / span 7;
    justify-self: self-start;
    padding: 8px;
    margin: 0px 10px;
}

.comment>* {
    margin: 3px;
}

.bar {
    grid-column: 2 / span 5;
    display: flex;
    width: 100%;
    justify-self: self-start;
    align-items: center;
    color: var(--Dark-blue);
    font-weight: bold;
}

.bar > p{
    font-weight: lighter;
    color: var(--Grayish-Blue);
}

.btnContainer {
    grid-column: 7 / span 2;
    display: flex;
}

.bar>* {
    padding: 0px 3px;
    margin: 0px 8px;
}

.you{
    padding: 2px 3px;
    font-weight: lighter;
    border-radius: 2px;
    background-color: var(--Moderate-blue);
    color: var(--White);
}

.votesCount {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--Light-gray);
    border-radius: 10px;
    height: 80px;
    width: 40px;
    padding: 3px;
    color: var(--Moderate-blue);
    font-weight: bold;
    
}

.profileImage {
    height: auto;
    border-radius: 50%;
}

.formWrapper {
    display: flex;
    max-width: 1200px;   
    margin: auto;
    margin-bottom: 50px;
    background-color: var(--White);
    border-radius: 10px;
    padding: 18px;
}
  
.formWrapper>img {
    border-radius: 50%;
    margin: 0px 8px;
  }

.formWrapper > form{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 5px 10px;
}

.formWrapper button {
    margin: 0px auto;
}

.editForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
}

.editForm > button {
    width: fit-content;
    margin-top: 8px;
    align-self: flex-end;
}

.editForm > textarea{
    width: 99%;    
}

.popUpWrapper {
    background-color: rgb(0, 0, 0, 0.5);
    /* opacity: 0.5; */
    height: 100vh;
    width: 99vw;
    margin: auto;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUp{
    border-radius: 5px;
    max-width: 330px;
    width: 80%;
    background-color: white;
    padding: 10px;
    color: var(--Grayish-Blue);
}

.popUp > * {
    margin: 5px 10px;
    padding: 5px 3px;
}

.popUp > button{
    margin: 5px 15px;
    padding: 8px 15px;
}

.hidden{
    display: none;
}

.btnBlue {
    background-color: var(--Moderate-blue);
    color: var(--White);
}
.btnRed {
    background-color: var(--Soft-Red);
    color: var(--White);
}

.btnGray {
    background-color: var(--Dark-blue);
    color: var(--White);
}
.btnBlue:disabled {
    background-color: var(--Light-grayish-blue);
    color: var(--Very-light-gray);
}

.btnTextRed {
    color: var(--Soft-Red);
}
.btnTextRed:disabled {
    color: var(--Pale-red);
}

.btnTextBlue {
    color: var(--Moderate-blue);
}
.btnTextBlue:disabled {
    color: var(--Light-grayish-blue);
}

.voteBtn{
    fill: red;
    margin: 5px;
    border: none;
}

.btnMedium {
    margin: 3px 10px;
    padding: 6px 8px;
    background-color: transparent;
}

.btnLarge {
    padding: 12px 25px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile */
@media (max-width: 760px) {
    .comment {
        grid-template-columns: repeat(4, 1fr);
    }

    .bar {
        grid-column: span 4;
    }
    
    .votesCount {
        grid-row: span 1;
        order: 2;
        flex-direction: row;
        height: 40px;
        width: 80px;
    }
    
    .btnContainer {
        grid-column: 4;
        order: 3;
    }

    .comment > :last-child{
        grid-column: span 4;
    }

    .replies {
        margin-left: 30px;
        padding-left: 30px;
    }

    .bar > * {
        margin: 0px 3px;
    }

    .formWrapper {
        flex-direction: column-reverse;
        position: relative;
    }

    .formWrapper > form{
        flex-direction: column;
    }

    .formWrapper > form > textarea {
        width: 95%;
    }
    .formWrapper > form > button{
        position: absolute;
        bottom: 20px;
        right: 25px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 760px) and (max-width: 1100px) {
    .bar > * {
        margin: 0px 3px;
    }

    .replies {
        margin-left: 50px;
        padding-left: 50px;
    }

    .btnMedium {
        margin: 3px;
        padding: 3px;
    }
}
